{
  "ignore": [
    "node_modules/**"
  ],
  "env": {
    "development": {
      "presets": [
        "@babel/flow", 
        "@babel/env",
        "@babel/stage-0"
      ]
    },
    "production": {
      "presets": [
        "@babel/flow", 
        ["@babel/env", { "modules": false }],
        "@babel/stage-0"
      ],
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
