{
  "ignore": [
    "node_modules/**"
  ],
  "env": {
    "development": {
      "presets": [
        "flow",
        "env",
        "stage-0"
      ]
    },
    "production": {
      "presets": [
        "flow", 
        ["env", { "modules": false }],
        "stage-0"
      ],
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
